<h5><strong>Enter your paper details</strong></h5>
<form action="/sizeit" method="post" target="resultframe">

<div class="form-group object_type">
<!-- <h5><strong>We are dealing with</strong><br /> -->
    <label class="radio-inline control-label">
      <input type="radio" name="object_type" value="bound" checked="checked">Pages in a Book
    </label>
    <label class="radio-inline control-label">
      <input type="radio" name="object_type" value="single">A Single Sheet
    </label>
    <br />
</div>

<div class="form-group form-group-shorter">

  <input class="form-control" id="paper_height" name="paper_height" placeholder="Height (cm)" type="text">
</div>

<div class="form-group form-group-shorter">

  <input class="form-control" id="paper_width" name="paper_width" placeholder="Width (cm)" type="text">
</div>


<div class="form-group">
<h5><strong>The chain lines run</strong><br />
    <label class="radio-inline control-label">
      <input type="radio" name="chain_lines" value="vertical" >Vertical
    </label>
    <label class="radio-inline control-label">
      <input type="radio" name="chain_lines" value="horizontal">Horizontal
    </label>
    <label class="radio-inline control-label">
      <input type="radio" name="chain_lines"  value="unsure" checked="checked">Can't tell
    </label>
    <br /><br />
    <div class="note-text"><strong>Note:</strong> Laid lines always run perpendicular to chain lines and are easier to see in most digitized images.</div>
</div>


<div class="form-group deckles">
<strong>Deckle appears on the</strong><br />
<!-- <label class="checkbox-inline">
    <input type="checkbox" id="deckle_side" name="deckle_side" value="outer">Side Margins
</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label class="checkbox-inline">
    <input type="checkbox" id="deckle_tobo" name="deckle_tobo" value="top">Top and Bottom
</label> -->

<label class="checkbox-inline">
    <input type="checkbox" id="top" name="top" value="checkd">Top
</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label class="checkbox-inline">
    <input type="checkbox" id="bo" name="bo" value="checkd">Bottom
</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label class="checkbox-inline">
     <input type="checkbox" id="ri" name="ri" value="checkd">Right
</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label class="checkbox-inline">
    <input type="checkbox" id="lef" name="lef" value="checkd">Left (single sheet only)
</label>
</div>
<p></p>


<button type="submit" class="btn btn-primary" onClick="MM_showHideLayers('resultframe','','show')" >Calculate</button>
<input type="reset" onClick="MM_showHideLayers('resultframe','','hide')" value="Clear" class="btn btn-default">
</form>
<p></p>
<iframe name="resultframe" id="resultframe" src=""></iframe>
 <br />

