@charset "utf-8";
/* CSS Document */

html {
    height: 100%;
	padding-top: 20px;
}


.img-center {margin:0 auto;}

body {
	background-color: #CCC;
	background-image: url(images/page_back5.jpg);
	background-repeat: no-repeat;
	/*	background: linear-gradient(#fcfbfa,#af8865); */
	background-size: cover;
}

/*#logoholder {
	background-image: url(images/paper_sizer_logo_dt_back.jpg);
	height: 170px;
	width: 75%;
	max-width: 900px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #006;
	border-bottom-color: #006;
	border-left-color: #006;
	border-radius: 20px 20px 0px 0px;
	background-repeat: repeat-x;
}*/

#logoholder2 {
	height: 100px;
	text-align: right;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #666;
	border-bottom-color: #666;
	padding-top: 8px;
	padding-bottom: 5px;
}

#logoholder2 a:link, a:visited {
	color: #900;
	text-decoration: none;
}


#logotext {
	margin-top: 20px;
}


.container {
	border: 2px solid #999;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 75%;
	max-width: 850px;
	background-color: #FBFBFB;
	background-image: url(images/paper_sizer_logo_dt_back2.jpg);
	background-repeat: no-repeat;

}

#apptitle {
	background-image: url(images/app_title_desktop_white.gif);
	background-size:contain;
	border: none;
	background-repeat: no-repeat;
	width: 100%;
	height: 60px;
	background-position: center;
	margin-top: 18px;
	text-align: right;
	padding-top: 35px;
}

#apptitle a:link, #apptitle a:visited {
	color: #fff;
	text-decoration: none;
}

.form-group-shorter {
    display:inline-block;
    width: 20%;
}

.note-text {
	font-style: italic;
}

input[type="reset"] {
	font-size: 14px;
	/*padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
  margin-left: 20px;*/
	color: #900;
	width: 85px;
}

#apptitlem {
	display: none;
}

#divabout {
	display: none;
}
.decklesm {
	display: none;;
}



#resultframe {
	text-align: center;
	overflow: visible;
	position: static;
	visibility: hidden;
	z-index: 3;
	height: 120px; /*75px;*/ /*75px;*/
	width: 90%; /*620px;*/

	border: solid 0px #ccc;
	border-radius: 5px;
	padding-bottom: 3px;
	scroll-behavior: auto;
}


.deckles {
	padding-top: 20px;
}

#followus {
	text-align: right;
	width: 100%;
	font-size: 16px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	padding: 5px;
}

#followus a:link, #followus a:visited {
	text-align: right;
	width: 100%;
}

@media screen and (max-device-width: 960px) {

html {
    height: 100%;
		padding: 0px;
	  margin: 0px;
	  padding-top: 3px;
}


body {
  background-color: #fbfbfb;
	background-image: none;
	padding: 0px;
	margin: 0px;
}


.container {
	margin-top: 0px;
	border: none;
	width: 96%;
	background-color: #fbfbfb;
	background-image: url(images/paper_sizer_logo_dt_back2.jpg);
	background-repeat: no-repeat;
}

#apptitle {
	display: none;
}

#apptitlem {
	/*	background-image: none !important;  */
	display: block;
	background-image: url(images/app_title_desktop_white.gif);
	background-size: 95%;
	background-repeat: no-repeat;
	height: 50px;
	width: 100%;
	background-position: center 8px;
}

#logotext {
	display: none;
}



#divabout {
	display: block;
	height: auto;
	width: 96%;
	text-align: right;
    padding-top: 3px;
	padding-right: 5px;
}

#divabout a:link, #divabout a:visited {
	text-decoration: none;
	color: #fff;

}
.form-group-shorter {
    display:inline-block;
    width: 40%;
}


.note-text {
	font-size: 12px;
}
.deckles {
	display: none;
}
.decklesm {
	display: block;
	padding-top: 0px;
	text-align: center;
}

#tbldeckles td {
	text-align: left;
	padding-right: 10px;
}


#resultframe {
	width: 99%;
}

#followus {
	display: none;
}



@media screen and (max-device-width: 960px) and (orientation: landscape){

#apptitle {
	background-image: url(images/paper_sizer_logo_mobile2.gif);
	background-size: 100% auto;
	border: none;
	background-repeat: no-repeat;
	height: 100px;
	width: 50%;
}

.form-group-shorter {
    display:inline-block;
    width: 30%;
}

#apptitlem {
	display: block;
	background-image: url(../images/app_title_desktop_white.gif);
	background-size: 60%;
	background-repeat: no-repeat;
	height: 50px;
	width: 100%;
	background-color: none;
	background-position: center 5px;
}

.deckles {
	display: block;
}
.decklesm {
	display: none;
}




